<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div>
    <div id="content" class="clear mainwide">
		<div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
                    <h2>Home</h2>
				</div>
                <div class="sect">
					<b>Entities</b>
					<ul>
						<li><%= link_to "Merchants", admin_merchants_url %></li>
						<li><%= link_to "Users", admin_users_url %></li>
						<li><%= link_to "Deals", admin_deals_url %></li>
						<li><%= link_to "Coupons", admin_coupons_url %></li>
						<li><%= link_to "Orders", admin_orders_url %></li>
						<li><%= link_to "Payments", admin_payments_url %></li>
						<li><%= link_to "Shares", admin_shares_url %></li>
						<li><%= link_to "Visitors", admin_visitors_url %></li>
						<li><%= link_to "User Actions", admin_user_actions_url %></li>
						<li><%= link_to "Process Logs", admin_process_logs_url %></li>
					</ul>
				</div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->