<%= form_tag :action=>'change_password', :class=>"validator" %>

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="biz">
    <div id="content" class="biz">
        <div class="box">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head"><h2>Change Password</h2></div>
                <div class="sect">
                        <div class="field">
                            <label for="password">Choose Password</label>
							<%= password_field_tag :password, nil, :class=>"f-input", :datatype=>"require", :require=>"true" %>
                        </div>
                        <div class="field">
                        	<label for="password_confirmation">Confirm Password</label>
							<%= password_field_tag :password_confirmation, nil, :class=>"f-input", :datatype=>"require", :require=>"true" %>
						</div>
                        <div class="act">
							<%= submit_tag :submit, :value=>"Change Password", :class=>"formbutton"%>
							or <%= link_to "cancel", edit_admin_merchant_url(@merchant.id) %>
                         </div>
                </div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
    <div id="sidebar">
	</div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->