<%= form_tag(merchant_account_url, :multipart => true) %>

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="partner">
	<div id="content" class="clear mainwide">
        <div class="clear box">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head"><h2>Account</h2>
					<%= link_to "Change Password", merchant_change_password_url %>
					<%= link_to "Change Email", merchant_change_email_url %>
				</div>
                <div class="sect">
						<div class="wholetip clear"><h3>1. Login</h3></div>
						<% if @merchant.id %>
							<div class="field">
								<%= label_tag 'Merchant Id', 'Merchant Id' %> 
								<%= text_field_tag :id, @merchant.id, :size=>"30", :class=>"f-input", :disabled => true %>
							</div>
						<% end %>
                        <div class="field">
							<%= label_tag 'Username' %>
							<%= text_field_tag :username, @merchant.username, :size=>"30", :class=>"f-input", :disabled => true %>					
                        </div>
						<div class="field">
							<%= label_tag 'Email' %>
							<%= text_field_tag :email, @merchant.email, :size=>"30", :class=>"f-input", :disabled => true %>
                        </div>
						
						<div class="wholetip clear"><h3>2. Deal Store</h3></div>
						<div class="field">
							<%= label_tag 'Subdomain' %>
							<%= text_field_tag :subdomain, @merchant.merchant_subdomain ? @merchant.merchant_subdomain.subdomain : '', 
								:size=>"30", :class=>"f-input" %>
							<% if @merchant.merchant_subdomain %>
								<span class="hint"><%= @merchant.merchant_subdomain.subdomain + '.' + request.host_with_port %></span>
							<% else %>
								<span class="hint">Your personalized deal store will be located at [Subdomain].<%= request.host_with_port %>.</span>
							<% end %>
                        </div>
						<div class="field">
							<%= label_tag 'Logo' %>
							<%= file_field_tag :logo_file, :size=>"30", :class => "f-input" %>
							<% if @merchant.get_logo %>
								<span class="hint"><%= @merchant.get_logo %></span>
							<% else %>
								<span class="hint">Upload a logo for your personalized deal store.</span>
							<% end %>
						</div>

						<div class="wholetip clear"><h3>3. Company</h3></div>
                        <div class="field">
							<%= label_tag 'Company Name', 'Company Name' %> 
							<%= text_field_tag :name, @merchant.name, :size=>"30", :class=>"f-input", :datatype=>"require", :require=>"true" %>
                        </div>
                        <div class="field">
							<%= label_tag 'Website' %> 
							<%= text_field_tag :website, @merchant.website, :size=>"30", :class=>"f-input" %>
                        </div>
                        <div class="field">
							<%= label_tag 'Time Zone', 'Time Zone' %>
							<%= text_field_tag :time_zone, @merchant.time_zone, :size=>"30", :class=>"f-input", :disabled => true %>						
                        </div>

						<div class="wholetip clear"><h3>4. Contact</h3></div>
                        <div class="field">
							<%= label_tag 'Contact Name', 'Contact Name' %> 
							<%= text_field_tag :contact_name, @merchant.contact_name, :size=>"30", :class=>"f-input" %>
                        </div>
                        <div class="field">
							<%= label_tag 'Address Line 1', 'Address Line 1' %> 
							<%= text_field_tag :address1, @merchant.address1, :size=>"30", :class=>"f-input" %>
                        </div>
                        <div class="field">
							<%= label_tag 'Address Line 2', 'Address Line 2' %> 
							<%= text_field_tag :address2, @merchant.address2, :size=>"30", :class=>"f-input" %>
                        </div>
                        <div class="field">
							<%= label_tag 'City' %> 
							<%= text_field_tag :city, @merchant.city, :size=>"30", :class=>"f-input" %>
                        </div>
                        <div class="field">
							<%= label_tag 'State' %> 
							<%= text_field_tag :state, @merchant.state, :size=>"30", :class=>"f-input" %>
                        </div>					
                        <div class="field">
							<%= label_tag 'ZIP', 'ZIP' %> 
							<%= text_field_tag :zip, @merchant.zip, :size=>"30", :class=>"f-input" %>
                        </div>
                        <div class="field">
							<%= label_tag 'Country' %> 
							<%= text_field_tag :country, @merchant.country, :size=>"30", :class=>"f-input" %>
                        </div>						
                        <div class="field">
							<%= label_tag 'Phone Number', 'Phone Number' %> 
							<%= text_field_tag :phone_number, @merchant.phone_number, :size=>"30", :class=>"f-input" %>
                        </div>

						<div class="wholetip clear"><h3>5. Bank Account</h3></div>
                        <div class="field">
							<%= label_tag 'Tax Id', 'Tax Id' %> 
							<%= text_field_tag :tax_id, @merchant.tax_id, :size=>"30", :class=>"f-input" %>
                        </div>						
                        <div class="field">
							<%= label_tag 'Bank Name', 'Bank Name' %> 
							<%= text_field_tag :bank, @merchant.bank, :size=>"30", :class=>"f-input" %>
                        </div>
                        <div class="field">
							<%= label_tag 'Name on Account', 'Name on Account' %> 
							<%= text_field_tag :account_name, @merchant.account_name, :size=>"30", :class=>"f-input" %>
                        </div>
                        <div class="field">
							<%= label_tag 'Routing Number', 'Routing Number' %> 
							<%= text_field_tag :routing_number, @merchant.routing_number, :size=>"30", :class=>"f-input" %>
                        </div>
                        <div class="field">
							<%= label_tag 'Account Number', 'Account Number' %> 
							<%= text_field_tag :account_number, @merchant.account_number, :size=>"30", :class=>"f-input" %>
                        </div>
                        <div class="field">
							<%= label_tag 'Paypal Account', 'Paypal Account' %> 
							<%= text_field_tag :paypal_account, @merchant.paypal_account, :size=>"30", :class=>"f-input" %>
                        </div>
                        <div class="act">
							<%= submit_tag :submit, :value=>"Update Account", :class=>"formbutton"%>
							or <%= link_to "cancel", merchant_home_url %>
                        </div>
                </div>
            </div>
            <div class="box-bottom"></div>
        </div>
	</div>

<div id="sidebar">
</div>

</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->
