<%= form_tag :action=>'login', :class=>"validator" %>

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="biz">
    <div id="content" class="biz">
        <div class="box">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head"><h2>Merchant Login</h2></div>
                <div class="sect">
                        <div class="field">
                            <label for="username">Username</label>
							<%= text_field_tag :username, nil, :size=>"30", :class=>"f-input", :datatype=>"require", :require=>"true" %>
                        </div>
                        <div class="field">
                            <label for="password">Password</label>
							<%= password_field_tag :password, nil, :class=>"f-input", :datatype=>"require", :require=>"true" %>
                        </div>
                        <div class="act">
							<%= submit_tag :submit, :value => 'Login', :class=>"formbutton"%>
							<%= link_to 'Signup', merchant_signup_url %> |
						    <%= link_to 'Forgot my password', merchant_forgot_password_url %>
                         </div>
                </div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
    <div id="sidebar">
	</div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->