<%= form_tag :action=>'reactivate', :class=>"validator" %>

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="biz">
    <div id="content" class="biz">
        <div class="box">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head"><h2>Resend Activation Code</h2></div>
                <div class="sect">
						<div class="note">Your account has not been activated. Please check your email, including the junk mail folder, 
						or resend your activation email below. </div>
                        <div class="field">
	                         <label for="email">Username</label>
							 <%= text_field_tag :username, nil, :size=>"30", :class=>"f-input", :datatype=>"require", :require=>"true" %>
	                    </div>
						<div class="field">
                            <label for="email">Email</label>
							<%= text_field_tag :email, nil, :size=>"50", :class=>"f-input", :datatype=>"require", :require=>"true" %>
                        </div>
                        <div class="act">
							<%= submit_tag :submit, :value=>"Send Activation Code", :class=>"formbutton"%>
							or <%= link_to "cancel", merchant_login_url %>
                        </div>
                </div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
    <div id="sidebar">
	</div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->