<%= form_tag :controller => controller.controller_name, :action => "account" %>

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="partner">
	<div id="content" class="clear mainwide">
        <div class="clear box">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head"><h2>Account</h2>
					<%= link_to "Change Password", url_for(:controller => controller.controller_name, :action => 'change_password') %>
					<%= link_to "Change Email", url_for(:controller => controller.controller_name, :action => 'change_email') %>
				</div>
                <div class="sect">
					<div class="field">
						<%= label_tag 'Email' %>
						<%= text_field_tag :email, @user.email, :size=>"30", :class=>"f-input", :disabled => true %>
	                 </div>
					<div class="field">
						<%= label_tag 'First Name', 'First Name' %>
						<%= text_field_tag :first_name, @user.first_name, :size=>"30", :class=>"f-input" %>
	                 </div>
					<div class="field">
						<%= label_tag 'Last Name', 'Last Name' %>
						<%= text_field_tag :last_name, @user.last_name, :size=>"30", :class=>"f-input" %>
	                 </div>					
	                 <div class="act">
						<%= submit_tag :submit, :value=>"Update Account", :class=>"formbutton"%>
						or <%= link_to "cancel", url_for(:controller => controller.controller_name, :action => 'home') %>
	                 </div>
                </div>
            </div>
            <div class="box-bottom"></div>
        </div>
	</div>

<div id="sidebar">
</div>

</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->
