<div id="bdw" class="bdw">
<div id="bd" class="cf">

<% if !@current_user %>
<div id="sysmsg-guide">
	<div class="link"><%= link_to help_tour_url %></div>
	<%= link_to "Close", "javascript:void(0)", :id=>"sysmsg-guide-close", :class=>"close" %>
</div>
<% end %>

<% if @deal.is_ended %>
<div id="sysmsg-tip" class="sysmsg-tip-deal-close"><div class="sysmsg-tip-top"></div>
<div class="sysmsg-tip-content">
	<div class="deal-close"><div class="focus">Sorry, you are late, <br /> this deal is over.</div>
	<div id="tip-deal-subscribe-body" class="body">
		<% form_tag :controller=>:user, :action=>"subscribe", :class=>"validator" %>
		<table>
			<tr>
				<td>Don't miss other deals, subscribe our daily deal news now:&nbsp;</td>
				<td><%= text_field_tag :email, nil, :class=>"f-text", :require=>"true", :datatype=>"email" %></td>
				<td>&nbsp;<%= submit_tag :submit, :value=>"Subscribe" %></td>
			</tr>
		</table>
	</div>
</div><span id="sysmsg-tip-close" class="sysmsg-tip-close">Close</span></div>
<div class="sysmsg-tip-bottom"></div>
</div>
<% end %>

<% if @order.id %>
<div id="sysmsg-tip">
	<div class="sysmsg-tip-top"></div>
	<div class="sysmsg-tip-content">
		You have ordered, but not paid yet.
		<%= link_to "Check your order and make a payment", order_url(:deal_id => @deal.id) %>
		<span id="sysmsg-tip-close" class="sysmsg-tip-close">Close</span>
	</div>
	<div class="sysmsg-tip-bottom"></div>
</div>
<% end %>

<div id="deal-default">
	<%= render :partial => 'layouts/block/team_share' %>
	<div id="content">
		<div id="deal-intro" class="cf">
        <h1><%= link_to "Today's Deal:", deal_url(@deal.id), :class => "deal-today-link" %><%= @deal.title %></h1>
        <div class="main">
            <div class="deal-buy">
            	<div class="deal-price-tag"></div>
				<% if @deal.is_maxed %>
					<p class="deal-price">
						<strong><%= @deal.deal_price.format(:no_cents) %></strong>
						<span class="deal-price-soldout"></span>
					</p>
				<% elsif @deal.is_ended %>
                	<p class="deal-price">
						<strong><%= @deal.deal_price.format(:no_cents) %></strong>
						<span class="deal-price-expire"></span>
					</p>
				<% else %>
					<p class="deal-price">
						<strong><%= @deal.deal_price.format(:no_cents) %></strong>
						<span><%= link_to image_tag("/stylesheets/i/button-deal-buy.png"), order_url(:deal_id => @deal.id) %></span>
					</p>
				<% end %>
                </div>
                <table class="deal-discount">
                	<tr>
						<th>Value</th>
                       	<th>Discount</th>
                       	<th>You Save</th>
                 	</tr>
                    <tr>
                    	<td><%= @deal.deal_value.format(:no_cents) %></td>
                        <td><%= @deal.discount %>%</td>
                        <td><%= @deal.savings.format(:no_cents) %></td>
                    </tr>
               	</table>
				<% if @deal.is_ended %>
	                <div class="deal-box deal-timeleft deal-off" id="deal-timeleft" curtime="{$now}000" diff="{$diff_time}000">
						<h3>Deal is over at: </h3>
						<div class="limitdate"><p class="deal-buy-ended">${date('Y-m-d', $team['close_time'])}<br>${date('H:i:s', $team['close_time'])}</p></div>
					</div>
				<% else %>
	                <div class="deal-box deal-timeleft deal-on" id="deal-timeleft" curtime="<%= @now %>000" diff="<%= @diff %>000">
						<h3>Time Left To Buy</h3>
						<div class="limitdate">
						<ul id="counter">
							<% if @time_left[:days] == 0 %>
							<li><span><%= @time_left[:hours] %></span>hours</li>
							<li><span><%= @time_left[:minutes] %></span>minutes</li>
							<li><span><%= @time_left[:seconds] %></span>seconds</li>
							<% else %>							
							<li><span><%= @time_left[:days] %></span>days</li>
							<li><span><%= @time_left[:hours] %></span>hours</li>
							<li><span><%= @time_left[:minutes] %></span>minutes</li>
							<% end %>
						</ul></div>
					</div>
				<% end %>

			<% if @deal.is_ended %>
				<div class="deal-box deal-status deal-status-{$team['state']}" id="deal-status"><div class="deal-buy-{$team['state']}"></div><p class="deal-buy-tip-total">Total <strong><%= @deal.coupons.size %></strong> bought </p></div>
			<% else %>
				<% if @deal.is_tipped %>
				<div class="deal-box deal-status deal-status-open" id="deal-status">
					<p class="deal-buy-tip-top"><strong><%= @deal.coupons.size %></strong> bought </p>
					<p class="deal-buy-on" style="line-height:200%;">
						<%= image_tag "/stylesheets/i/deal-buy-succ.gif" %>The deal is tipped!<br/>
						<% if !@deal.is_maxed %>You can buy it now.<% end %></p>
				</div>
				<% else %>
				<div class="deal-box deal-status" id="deal-status">
					<p class="deal-buy-tip-top"><strong><%= @deal.coupons.size %></strong> bought </p>
					<div class="progress-pointer" style="padding-left:{$bar_size-$bar_offset}px;"><span></span></div>
					<div class="progress-bar"><div class="progress-left" style="width:{$bar_size-$bar_offset}px;"></div>
					<div class="progress-right "></div>
				</div>
				<div class="cf"><div class="min"><%= @deal.min %></div><div class="max"><%= @deal.max %></div>
				</div>
					<p class="deal-buy-tip-btm">Buy <strong><%= @deal.min - @deal.coupons.size %></strong> More To Tip This Deal!</p>
				</div>
				<% end %>
			<% end %>
			</div>
			
			<div class="side">
	        	<div class="deal-buy-cover-img" id="team_images">
				<% if @deal.deal_images.size > 1 %>
				<div class="mid">
					<ul>
						<li class="first"><%= image_tag @deal.deal_images[0].image.url(:display) %></li>
						<% if @deal.deal_images[1] %>
							<li><%= image_tag @deal.deal_images[1].image.url(:display) %></li>
						<% end %>				
						<% if @deal.deal_images[2 ]%>
							<li><%= image_tag @deal.deal_images[2].image.url(:display) %></li>
						<% end %>
					</ul>
					<div id="img_list">
						<%= link_to "1", "1", :class=>"active" %>
						<% if @deal.deal_images[1]%>
							<%= link_to "2", "2" %>
						<% end %>
						<% if @deal.deal_images[2]%>
							<%= link_to "3", "3" %>
						<% end %>
					</div> 
				</div>
				<% else %>
					<%= image_tag @deal.deal_images[0].image.url(:display) %>
				<% end %>
			</div>
      		<div class="digest"><br/><%= simple_format(strip_tags(@deal.description)) %></div>			
		</div>
	</div>
	<div id="deal-stuff" class="cf">
    	<div class="clear box box-split">
           	<div class="box-top"></div>
            	<div class="box-content cf">
                	<div class="main">
						<% if @deal.terms %>
                       	<h2 id="detail">Terms</h2>
						<div class="blk detail"><%= @deal.terms %></div>
						<% end %>
					</div>
                    <div class="side">
                    	<div id="side-business">
							<h2><%= @deal.merchant.name %></h2>
							<% if @deal.merchant.website %>
								<div style="margin-top:10px;">
									<%= link_to @deal.merchant.website, @deal.merchant.website, :target => "_blank"%>
								</div>
							<% end %>
						</div>
					</div>
                    <div class="clear"></div>
                </div>
                <div class="box-bottom"></div>
			</div>
		</div>
	</div>
	<div id="sidebar">
		<% render :partial => 'layouts/block/side_bulletin' %>
		<%= render :partial => 'layouts/block/side_flv' %>
		<% render :partial => 'layouts/block/side_invite' %>
		<% render :partial => 'layouts/block/side_ask' %>
		<%= render :partial => 'layouts/block/side_others' %>
		<% render :partial => 'layouts/block/side_business' %>
		<% render :partial => 'layouts/block/side_subscribe' %>
	</div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->