<%= form_tag(@controller.controller_name == 'user' ? fb_share_url : facebook_fb_share_url) %>

<div id="bdw" class="bdw">
<div id="bd" class="cf">

<div id="fb-share">
<div id="content">
    <div class="box">
        <div class="box-top"></div>
        <div class="box-content">
			<div class="head">
				<span>Share this deal on Facebook with 
					<strong><%= @deal.deal_incentive.number_required %></strong> friends and turn your 
					<strong class="old"><%= @deal.deal_value.format(:no_cents) %></strong> into 
					<strong class="discount"><%= @deal.deal_incentive.incentive_value.format(:no_cents) %></strong>!
				</span>
			</div>
			<div class="subsect">
				<div id='friend_selector_container'></div>
				<div id="facebook_info">
					<%= link_to image_tag(@facebook_profile_image), @facebook_profile_url %>
					<%= text_area_tag(:message, @default_message, :class => 'f-textarea') %>
				</div>
				<!-- <div class="clear"></div> -->
				<div id="deal_info">	
					<% if @deal.deal_images[0] %>
						<%= link_to image_tag(@deal.deal_images[0].image.url(:display), :alt => @deal.title), 
								url_for(:controller => controller.controller_name, :action => 'deal', :id => @deal.id), 
								:title => @deal.title  %>									
					<% end %>
					<span>
						<%= link_to @deal.title, url_for(:controller => controller.controller_name, :action => 'deal', :id => @deal.id) %><br>
						<%= @deal.merchant.name %><br>
						<%= @deal.description %><br>
					</span>
				</div>
				<!-- <div class="clear"></div> -->

				<%= hidden_field_tag(:deal_id, @deal.id) %>
				<div class="act">
					<%= submit_tag :submit, :class=>"formbutton", :value => 'Share' %>
					or 	<%= link_to "cancel", deal_url(@deal.id) %>
				</div>
			</div>			
		</div>
		<div class="box-bottom"></div>
	</div>
</div>
</div>

</div> <!-- bd end -->
</div> <!-- bdw end -->