<%= form_tag :controller => controller.controller_name, :action=>'login', :class=>"validator" %>
<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="biz">
    <div id="content" class="biz">
        <div class="box">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head"><h2>Log In</h2></div>
					<div class="subsect">
						<div class="wholetip clear"><h3><%= OPTIONS[:site_name] %> + Facebook</h3></div>
						<div class="act">
							<div id="fb-login-button"></div>
						</div>
						<div class="wholetip"><p>Skip signup! The easiest way to start with <%= OPTIONS[:site_name] %>.</p></div>
					</div>
					<% if controller.controller_name == 'user' %>
						<div class="sect">
							<div class="wholetip clear"><h3>Already have an account?</h3></div>
		                	<div class="field">
			                	<label for="email">Email</label>
								<%= text_field_tag :email, nil, :size=>"30", :class=>"f-input", :datatype=>"require", :require=>"true" %>
			                </div>
			                <div class="field">
			                    <label for="password">Password</label>
								<%= password_field_tag :password, nil, :class=>"f-input", :datatype=>"require", :require=>"true" %>
			                </div>
			                <div class="act">
								<%= submit_tag :submit, :value => 'Log In', :class=>"formbutton"%>
								<%= link_to 'Sign Up', url_for(:controller => controller.controller_name, :action => 'signup') %> |
			  					<%= link_to 'Forgot my password', url_for(:controller => controller.controller_name, :action => 'forgot_password') %>
			               	</div>
						</div>
					<% end %>
                </div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
    <div id="sidebar"></div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->
<script type="text/javascript">
	var facebook_login_button = '<%= link_to image_tag("facebook_login_button.png", :id => "facebook-login-button"), url_for(:controller => controller.controller_name, :action => 'connect') %>';
	var connect_url = '<%= url_for(:controller => controller.controller_name, :action => 'connect') %>';
</script>