<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
	<meta http-equiv=content-type content="text/html; charset=UTF-8">
	<title><%= OPTIONS[:site_name] %></title>
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<!-- ><link rel="shortcut icon" href="/favicon.ico" /> -->
	<%= raw stylesheet_link_tag 'index.css', :media => "screen", :charset => "utf-8" %>	
	<script type="text/javascript">var WEB_ROOT = '';</script>
	<%= raw javascript_include_tag "mootools-core-1.3.2-full-nocompat.js" %>	
	<%= raw javascript_include_tag "mootools-more-1.3.2-full-nocompat.js" %>
	<%= raw javascript_include_tag "rails.js" %>
	<%= raw javascript_include_tag "global.js" %>
	<%= raw javascript_include_tag "modal.js" %>
	<%= raw javascript_include_tag "overlay.js" %>	
	<%= raw javascript_include_tag "application.js" %>	
	<%= raw javascript_include_tag "index.js" %>
	
	<%= raw javascript_include_tag "datepicker/Locale.en-US.DatePicker.js" %>
	<%= raw javascript_include_tag "datepicker/Picker.js" %>
	<%= raw javascript_include_tag "datepicker/Picker.Attach.js" %>
	<%= raw javascript_include_tag "datepicker/Picker.Date.js" %>
	<%= raw stylesheet_link_tag "datepicker/datepicker.css", :media => "screen" %>
	
	<%= render :partial => 'layouts/block/google_analytics' %>
</head>
<body class="newbie">
<div id="pagemasker"></div><div id="dialog"></div>
<div id="doc">
	<div id="hdl">
		<div id="logo">
		<%= link_to image_tag("logo_header.gif"), root_url, :class => "link", :target => "_blank" %>
		</div>
		<div class="guides">
			<div class="city">
				<h2>Admin</h2>
			</div>
		</div>		
	</div>
	<div id="hdw">
		<div id="hd">
			<ul class="nav cf">
				<li <%= controller.controller_name == 'admin' ? 'class=current' : '' %> >
					<%= link_to "Home", admin_home_url %>
				</li>
		</div>
	</div>

	<% if flash[:notice] %>
	<div class="sysmsgw" id="sysmsg-success"><div class="sysmsg"><p><%= simple_format(flash[:notice]) %></p><span class="close">Close</span></div></div>
	<% end %>
	<% if flash[:error] %>
	<div class="sysmsgw" id="sysmsg-error"><div class="sysmsg"><p><%= simple_format(flash[:error]) %></p><span class="close">Close</span></div></div> 
	<% end %>

	<%= yield %>
	
	<%= render :partial => 'layouts/block/footer' %>
</div>
</body>
</html>
