<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
	<meta http-equiv=content-type content="text/html; charset=UTF-8">
	<title><%= OPTIONS[:site_name] %></title>
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<!-- ><link rel="shortcut icon" href="/favicon.ico" /> -->
	<%= raw stylesheet_link_tag 'facebook.css', :media => "screen", :charset => "utf-8" %>	
	<script type="text/javascript">var WEB_ROOT = '';</script>
	<%= raw javascript_include_tag "index.js" %>
	<%= render :partial => 'layouts/block/google_analytics' %>
</head>
<body>
<div id="pagemasker"></div><div id="dialog"></div>
<div id="doc">
	<div id="logo">
		<%= image_tag("logo_original.gif") %>
	</div>
	<div id="hdw">
		<div id="hd">
			<ul class="nav cf">
			</ul>
		</div>
	</div>

	<% if flash[:notice] %>
	<div class="sysmsgw" id="sysmsg-success"><div class="sysmsg"><p><%= flash[:notice] %></p><span class="close">Close</span></div></div>
	<% end %>
	<% if flash[:error] %>
	<div class="sysmsgw" id="sysmsg-error"><div class="sysmsg"><p><%= flash[:error] %></p><span class="close">Close</span></div></div> 
	<% end %>

	<%= yield %>

</div>
</body>
</html>