<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
	<meta http-equiv=content-type content="text/html; charset=UTF-8">
	<title><%= OPTIONS[:site_name] %></title>
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<!-- ><link rel="shortcut icon" href="/favicon.ico" /> -->
	<%= raw stylesheet_link_tag 'facebook.css', :media => "screen", :charset => "utf-8" %>	
	<script type="text/javascript">var WEB_ROOT = '';</script>
	<%= raw javascript_include_tag "index.js" %>
	<%= render :partial => 'layouts/block/google_analytics' %>
</head>
<body>
<div id="pagemasker"></div><div id="dialog"></div>
<div id="doc">
	<div id="logo">
		<% if @merchant_subdomain and @merchant_subdomain.get_logo %>
			<%= image_tag(@merchant_subdomain.get_logo) %>
		<% else %>
			<%= image_tag("logo_original.gif") %>
		<% end %>
	</div>
	<div id="hdw">
		<div id="hd">
			<ul class="nav cf">
				<li <% if controller.action_name == 'deals' or controller.action_name == 'deal' %>
						<%= 'class=current' %>
					<% end %> 
				><%= link_to "Deals", facebook_deals_url %></li>
				<% if @current_user %>
					<li <%= controller.action_name == 'coupons' ? 'class=current' : '' %> >
							<%= link_to "Coupons", facebook_coupons_url %></li>
				<% end %>
			</ul>
	
			<% if @current_user %>
			<div class="logins">
				<ul id="account">
					<li class="username">Welcome<%= @current_user.first_name ? ", #{@current_user.first_name}" : "!" %></li>				
				</ul>
				<div class="line islogin"></div>
			</div>
			<% else %>
			<div class="logins">
				<ul id="account">
					<li class="login"><%= link_to "Log In", 
						url_for(:controller => controller.controller_name, :action => 'logout') %></li>
					</ul>
				<div class="line "></div>
			</div>
			<% end %>
		</div>
	</div>

	<% if flash[:notice] %>
	<div class="sysmsgw" id="sysmsg-success"><div class="sysmsg"><p><%= flash[:notice] %></p><span class="close">Close</span></div></div>
	<% end %>
	<% if flash[:error] %>
	<div class="sysmsgw" id="sysmsg-error"><div class="sysmsg"><p><%= flash[:error] %></p><span class="close">Close</span></div></div> 
	<% end %>

	<%= yield %>
	
	<% if @current_user %>
		<script type="text/javascript">
			/* Useful info when doing javascript queries */
			var fb_id = <%= @current_user.facebook_id %>;
		</script>
	<% end %>

	<%= render :partial => 'layouts/block/footer' %>
</div>
</body>
</html>