<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
	<meta http-equiv=content-type content="text/html; charset=UTF-8">
	<title><%= OPTIONS[:site_name] %></title>
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<!-- ><link rel="shortcut icon" href="/favicon.ico" /> -->
	<%= raw stylesheet_link_tag 'index.css', :media => "screen", :charset => "utf-8" %>	
	<script type="text/javascript">var WEB_ROOT = '';</script>
	<%= raw javascript_include_tag "index.js" %>
	<%= render :partial => 'layouts/block/google_analytics' %>
</head>
<body class="<%= controller.action_name == 'index' ? 'bg-alt' : 'newbie' %>">
<div id="pagemasker"></div><div id="dialog"></div>
<div id="doc">	
	<div id="hdw">
		<div id="hd">
			<div id="logo">
			<%= image_tag("logo_original.gif") %>
			</div>
			<div class="guides">
				<div class="city">
					<h2>Merchant</h2>
				</div>
			</div>
			<ul class="nav cf">
				<% if @current_merchant %>
					<li <%= controller.action_name == 'home' ? 'class=current' : '' %> ><%= link_to "Home", merchant_home_url %></li>
					<li <%= controller.action_name == 'deals' ? 'class=current' : '' %> ><%= link_to "Deals", merchant_deals_url %></li>
				<% end %>
			</ul>
			<% if @current_merchant %>
			<div class="logins">
				<ul id="account">
					<li class="username">Welcome, <%= @current_merchant.name %></li>
					<li class="account"><%= link_to "My Account", merchant_account_url %></li>					
					<li class="logout"><%= link_to "Log Out", merchant_logout_url %></li>
				</ul>
				<div class="line islogin"></div>
			</div>			
			<% else %>
			<div class="logins">
				<ul id="account">
					<li class="login"><%= link_to "Log In", merchant_login_url %></li>
					</ul>
				<div class="line "></div>
			</div>
			<% end %>
		</div>
	</div>

	<% if flash[:notice] %>
	<div class="sysmsgw" id="sysmsg-success"><div class="sysmsg"><p><%= flash[:notice] %></p><span class="close">Close</span></div></div>
	<% end %>
	<% if flash[:error] %>
	<div class="sysmsgw" id="sysmsg-error"><div class="sysmsg"><p><%= flash[:error] %></p><span class="close">Close</span></div></div> 
	<% end %>

	<%= yield %>
	
	<%= render :partial => 'layouts/block/footer' %>
</div>
</body>
</html>
