<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
	<meta http-equiv=content-type content="text/html; charset=UTF-8">
	<title><%= OPTIONS[:site_name] %></title>
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<% if @current_merchant and @current_merchant.merchant_subdomain and @current_merchant.merchant_subdomain.get_css('site') %>
		<%= raw stylesheet_link_tag @current_merchant.merchant_subdomain.get_css('site') %>
	<% else %>
		<%= raw stylesheet_link_tag 'site' %>
	<% end %>
	<script type="text/javascript">var WEB_ROOT = '';</script>
	<%= raw javascript_include_tag "mootools-core-1.3.2-full-nocompat.js" %>	
	<%= raw javascript_include_tag "mootools-more-1.3.2-full-nocompat.js" %>
	<%= raw javascript_include_tag "rails.js" %>
	<%= raw javascript_include_tag "global.js" %>
	<%= raw javascript_include_tag "modal.js" %>
	<%= raw javascript_include_tag "overlay.js" %>	
	<%= raw javascript_include_tag "application.js" %>
	<%= raw javascript_include_tag "index.js" %>
	
	<%= raw javascript_include_tag "datepicker/Locale.en-US.DatePicker.js" %>
	<%= raw javascript_include_tag "datepicker/Picker.js" %>
	<%= raw javascript_include_tag "datepicker/Picker.Attach.js" %>
	<%= raw javascript_include_tag "datepicker/Picker.Date.js" %>
	<%= raw stylesheet_link_tag "datepicker/datepicker.css", :media => "screen" %>
		
	<%= render :partial => 'layouts/partials/google_analytics' %>
</head>
<body id="<%= controller.controller_name %>_<%= controller.action_name %>">
<div id="pagemasker"></div><div id="dialog"></div>
<div id="doc">
	<div id="hdl">
		<div id="logo">
			<% if @current_merchant and @current_merchant.get_logo %>
				<%= image_tag(@current_merchant.get_logo) %>
			<% else %>
				<%= image_tag("logo_header.gif") %>
			<% end %>
		</div>
		<div class="guides">
			<div class="city">
				<h2>Merchant</h2>
			</div>
		</div>
	</div>
	<div id="hdw">
		<div id="hd">

			<ul class="nav cf">
				<% if @current_merchant %>
					<li <%= controller.action_name == 'home' ? 'class=current' : '' %> ><%= link_to "Home", merchant_home_url %></li>
					<li <%= controller.action_name == 'deals' ? 'class=current' : '' %> ><%= link_to "Deals", merchant_deals_url %></li>
				<% end %>
			</ul>
			<% if @current_merchant %>
			<div class="logins">
				<ul id="account">
					<li class="username">Welcome, <%= @current_merchant.name %></li>
					<li class="account"><%= link_to "My Account", merchant_account_url %></li>					
					<li class="logout"><%= link_to "Log Out", merchant_logout_url %></li>
				</ul>
				<div class="line islogin"></div>
			</div>			
			<% else %>
			<div class="logins">
				<ul id="account">
					<li class="login"><%= link_to "Log In", merchant_login_url %></li>
					</ul>
				<div class="line "></div>
			</div>
			<% end %>
		</div>
	</div>

	<% if flash[:notice] %>
	<div class="sysmsgw" id="sysmsg-success"><div class="sysmsg"><p><%= simple_format(flash[:notice]) %></p><span class="close">Close</span></div></div>
	<% end %>
	<% if flash[:error] %>
	<div class="sysmsgw" id="sysmsg-error"><div class="sysmsg"><p><%= simple_format(flash[:error]) %></p><span class="close">Close</span></div></div> 
	<% end %>

	<%= yield %>
	
	<%= render :partial => 'layouts/partials/footer' %>
</div>
</body>
</html>
