<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
	<meta http-equiv=content-type content="text/html; charset=UTF-8">
	<title><%= OPTIONS[:site_name] %></title>
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<!-- ><link rel="shortcut icon" href="/favicon.ico" /> -->
	<%= raw stylesheet_link_tag 'index.css', :media => "screen", :charset => "utf-8" %>	
	<script type="text/javascript">var WEB_ROOT = '';</script>
	<%= raw javascript_include_tag "index.js" %>
	<%= render :partial => 'layouts/block/google_analytics' %>
</head>
<body class="<%= request.method == 'index' ? 'bg-alt' : 'newbie' %>">
<div id="pagemasker"></div><div id="dialog"></div>
<div id="doc">
	<%= raw javascript_include_tag "xheditor/xheditor.js" %>	
	<div id="hdw">
		<div id="hd">
			<div id="logo">
				<% if @merchant_subdomain and @merchant_subdomain.get_logo %>
					<%= image_tag(@merchant_subdomain.get_logo) %>
				<% else %>
					<%= image_tag("logo_original.gif") %>
				<% end %>
			</div>
			<div class="guides">
				<div class="city">
					<h2>User</h2>
				</div>
			</div>
			<ul class="nav cf">
				<% if @current_user %>
					<li <%= controller.action_name == 'deals' ? 'class=current' : '' %> ><%= link_to "Deals", deals_url %></li>
					<li <%= controller.action_name == 'coupons' ? 'class=current' : '' %> ><%= link_to "Coupons", coupons_url %></li>					
				<% else %>
					<li <%= controller.action_name == 'tour' ? 'class=current' : '' %> ><%= link_to "Tour", help_tour_url %></li>
				<% end %>
				
			</ul>
			<div class="refer">&raquo;&nbsp;
				<%= link_to "Invite Friends", invite_url %>
			</div>
			<% if @current_user %>
			<div class="logins">
				<ul id="account">
					<li class="username">Welcome<%= @current_user.first_name ? ", #{@current_user.first_name}" : "!" %></li>
					<li class="account"><%= link_to "My Account", account_url %></li>					
					<li class="logout"><%= link_to "Log Out", logout_url %></li>
				</ul>
				<div class="line islogin"></div>
			</div>
			<% else %>
			<div class="logins">
				<ul id="account">
					<li class="login"><%= link_to "Log In", login_url %></li>
					<li class="signup"><%= link_to "Sign Up", signup_url %></li>
					</ul>
				<div class="line "></div>
			</div>
			<% end %>
		</div>
	</div>

	<% if flash[:notice] %>
	<div class="sysmsgw" id="sysmsg-success"><div class="sysmsg"><p><%= flash[:notice] %></p><span class="close">Close</span></div></div>
	<% end %>
	<% if flash[:error] %>
	<div class="sysmsgw" id="sysmsg-error"><div class="sysmsg"><p><%= flash[:error] %></p><span class="close">Close</span></div></div> 
	<% end %>

	<%= yield %>
	
	<div id="ftw">
		<div id="ft">
			<p class="contact"><a href="/feedback/suggest">Feedback</a></p>
			<ul class="cf">
				<li class="col">
					<h3>Help</h3>
					<ul class="sub-list">
						<li><a href="/help/tour">Tour <%= OPTIONS[:site_name] %></a></li>
						<li><a href="/help/faqs">FAQ</a></li>
						<li><a href="/help/about">What is <%= OPTIONS[:site_name] %></a></li>
						<li><a href="/help/api">Developers/API</a></li>
					</ul>
				</li>
				<li class="col">
					<h3>Follow Us</h3>
					<ul class="sub-list">
						<li><a href="/subscribe">Subscribe Email</a></li>
						<li><a href="/feed">Subscribe RSS</a></li>
					</ul>
				</li>
				<li class="col">
					<h3>Contact & Info</h3>
					<ul class="sub-list">
						<li><a href="/feedback/seller">Business</a></li>
						<li><a href="/feedback/suggest">Suggestions</a></li>
						<li><a href="/about/contact">Contact</a></li>
					</ul>
				</li>
				<li class="col">
					<h3>Company</h3>
					<ul class="sub-list">
						<li><a href="/about/us">About <%= OPTIONS[:site_name] %></a></li>
						<li><a href="/about/job">Job Oportunity</a></li>
						<li><a href="/about/terms">Terms & Conditions </a></li>
						<li><a href="/about/privacy">Privacy</a></li>
					</ul>
				</li>
				<li class="col end">
					<div class="logo-footer">
						<% if @merchant_subdomain and @merchant_subdomain.get_logo_footer %>
							<%= image_tag(@merchant_subdomain.get_logo_footer) %>
						<% else %>
							<%= image_tag("logo_footer.gif") %>
						<% end %>
					</div>
				</li>
			</ul>
			<div class="copyright">
			<p>&copy;<span>2010</span>&nbsp;<%= OPTIONS[:site_name] %>. All Rights Reserved.&nbsp;<a href="/about/terms.php">Read Terms & Conditions before use. </a>&nbsp;</p>
			</div>
		</div>
	</div>
	<% if @current_user and @current_user.facebook_id %>
		<script type="text/javascript">
			/* Useful info when doing javascript queries */
			var fb_id = <%= @current_user.facebook_id %>;
		</script>
	<% end %>
</div>
</body>
</html>
